{% extends 'base.html.twig' %}

{% block body %}
<h1>
    Homepage.
</h1>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    Aloha, {{ app.user.username }}. <a href="{{ path('logout') }}">Logout</a>
    {% endif %}
{% endblock %}
